<%

let playerDictionary = {}
players.forEach(item => {
    if (!(item.playerId in playerDictionary)) {
        playerDictionary[item.playerId] = []
    }
    playerDictionary[item.playerId].push(item)
})

%>
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
        <link href="/css/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <meta http-equiv="x-ua-compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <meta name="referrer" content="origin-when-cross-origin">
        <title>Player List | TruMedia Quarterback Comparisons</title>
    </head>
    <body>
        <%- include("partials/header.ejs") %>
        <div class="container">
            <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
                <% 
                for (let playerId in playerDictionary) {
                    let items = playerDictionary[playerId]
                    let item = items[0]
                %>
                    <div class="col">
                        <div class="card mb-4 rounded-3 shadow-sm">
                          <div class="card-header py-3">
                            <h4 class="my-0 fw-normal align-middle"><img width="25px" src="<%= item.teamImage %>"/> <span><%= item.fullName %></span></h4>
                          </div>
                          <div class="card-body">
                            <h1 class="card-title pricing-card-title"><img width="125px" src="<%= item.playerImage %>"/></h1>
                            <%
                            
                            let stats = ["Att","Cmp","Sack","Int","PsYds","PsTD","Rush","RshYds","RshTD"]
                            var statAccumulation = {}
                            items.forEach(item => {
                                stats.forEach(s => {
                                    if (!(s in statAccumulation)) {
                                        statAccumulation[s] = 0
                                    }
                                    statAccumulation[s] += parseInt(item[s])
                                })
                            })

                            let completionPct = (statAccumulation["Att"] == 0) ? 0 : (100 * (parseFloat(statAccumulation["Cmp"]) / parseFloat(statAccumulation["Att"])))
                            let ypa = (statAccumulation["Att"] == 0) ? 0 : (parseFloat(statAccumulation["PsYds"]) / parseFloat(statAccumulation["Att"]))

                            %>
                            <!-- <%= JSON.stringify(statAccumulation) %> -->
                            <ul class="list-unstyled mt-3 mb-4">
                              <li><b>2018 season (<%= items.length %> game<%= items.length == 1 ? "" : "s" %>)</b> </li>
                              <li><%= statAccumulation["Cmp"] %>/<%= statAccumulation["Att"] %> (<%= Math.round(completionPct) %>% Comp)</li>
                              <li><%= statAccumulation["PsYds"] %> Pass Yds (<%= Math.round(ypa * 100) / 100 %> Yds/Att)</li>
                              <li><%= statAccumulation["PsTD"] %> Pass TD, <%= statAccumulation["Int"] %> INT, <%= statAccumulation["Sack"] %> Sck</li>
                              <li><%= statAccumulation["Rush"] %> Car, <%= statAccumulation["RshYds"] %> Rush Yds, <%= statAccumulation["RshTD"] %> Rush TD</li>
                            </ul>
                            <a role="button" class="w-100 btn btn-lg btn-outline-primary" href="/nfl/player/<%= item.playerId %>">View profile</a>
                          </div>
                        </div>
                    </div>
                <% } %>
        </div>
        <%- include("partials/footer.ejs") %>
        <%- include("partials/scripts.ejs") %>
    </body>
</html>