<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
        <link href="/css/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <meta http-equiv="x-ua-compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <meta name="referrer" content="origin-when-cross-origin">
        <title><%= player.fullName %> (<%= player.team %>) | TruMedia Quarterback Comparisons</title>
    </head>
    <body>
        <div class="container-fluid mb-3">
            <div class="row h-100 p-4 text-white justify-content-center align-items-center bg-dark">
                <div class="offset-lg-3 col-lg-2 mb-md-3 col-md-6 text-center">
                    <img class="img-fluid" src="<%= player.playerImage %>"/> 
                </div>
                <div class="col-md-6 col-lg-5">
                    
                    <%
                    let stats = ["Att","Cmp","Sack","Int","PsYds","PsTD","Rush","RshYds","RshTD"]
                    var statAccumulation = {}
                    games.forEach(gm => {
                        stats.forEach(s => {
                            if (!(s in statAccumulation)) {
                                statAccumulation[s] = 0
                            }
                            statAccumulation[s] += parseInt(gm[s])
                        })
                    })

                    let completionPct = (statAccumulation["Att"] == 0) ? 0 : (100 * (parseFloat(statAccumulation["Cmp"]) / parseFloat(statAccumulation["Att"])))
                    
                    %>
                    <h1 class="align-items-middle"><img class="img-fluid text-small text-muted" width="35px" src="<%= player.teamImage %>"> <%= player.fullName %></h1>
                    <h5>2018 season (<%= games.length %> game<%= games.length == 1 ? "" : "s" %>)</h5>
                    <p class="m-0"><i>Passing:</i> <%= statAccumulation["Cmp"] %>/<%= statAccumulation["Att"] %> (<%= Math.round(completionPct) %>% Comp), <%= statAccumulation["PsYds"] %> Pass Yds, <%= statAccumulation["PsTD"] %> Pass TD, <%= statAccumulation["Int"] %> INT, <%= statAccumulation["Sack"] %> Sck</p> 
                    <p class="m-0 mb-3"><i>Rushing:</i> <%= statAccumulation["Rush"] %> Car, <%= statAccumulation["RshYds"] %> Rush Yds, <%= statAccumulation["RshTD"] %> Rush TD</p>
                    <a class="btn btn-outline-light" href="/nfl" role="button"><i class="bi bi-arrow-left"></i> Return to Player List</a>
                </div>
            </div>
        </div>
        <div class="container mb-3">
            <div class="row">
                <div class="col-lg-6">
                    <h3>Completion Percentage</h3>
                    <div class="chart-container mb-3" style="position: relative;">
                        <canvas id="comp-chart"></canvas>
                    </div>
                    <div class="chart-container mb-3" style="position: relative;">
                        <canvas id="comp-bars"></canvas>
                    </div>
                </div>
                <div class="col-lg-6">
                    <h3>Game Log</h3>
                    <table class="table">
                        <thead>
                          <tr>
                            <th scope="col">Week</th>
                            <th scope="col" class="text-right">Statistics</th>
                          </tr>
                        </thead>
                        <tbody>
                        <% games.forEach(gm => { %>
                            <tr id="game-<%= gm.opponent %>">
                                <td><%= gm.week %> vs <img width="25px" title="<%= gm.opponent %>" src="<%= gm.opponentImage %>"/></td>
                                <td class="text-right">
                                    <p class="p-0 m-0"><i>Passing:</i> <%= gm.Cmp %>/<%= gm.Att %>, <%= gm.PsYds %> yd<%= (Math.abs(parseFloat(gm.PsYds)) == 1) ? "" : "s" %>, <%= gm.PsTD %> TD, <%= gm.Int %> INT</p>
                                    <p class="p-0 m-0"><i>Rushing:</i> <%= gm.Rush %> Car, <%= gm.RshYds %> yd<%= (Math.abs(parseFloat(gm.RshYds)) == 1) ? "" : "s" %>, <%= gm.RshTD %> Rush TD</p>
                                </td>
                            </tr>
                        <% }) %>
                        </tbody>
                      </table>
                </div>
            </div>
        </div>
        <%- include("partials/footer.ejs") %>
        <%- include("partials/scripts.ejs") %>
        <script>
            let games = <%- JSON.stringify(games) %>;
            let teamColor = "<%- player.teamColor %>";
        </script>
        <script src="/js/stats.js"></script>
    </body>
</html>